

  .link {
    text-align: center;
    font-size: 16px;
    font-style: normal;
  }

  .link a {
      text-decoration: none;
    }

    .link .form-text {
    margin: 10px 0;
    color: rgba(#fff, alpha(#fff) * 0.7);
  }
  .login-form{
    width: 30%;
    margin: auto;
    margin-top: 15%;
}
  
.logo{
  height: 50px;
  
  margin: 15px 15px 15px 70px;
  text-align: center;
}

